<style>
    #{{ section.id }} .main-marq {
        background: {{section.settings.bg-color}};
    }
    #{{ section.id }} .main-marq .text-marquee .d-flex-b .clsheadtitle{
        color: {{section.settings.clrmer}};
    }
</style>
{% if section.settings.heading != blank %}
    <div id="{{ section.id }}">
    <div class="main-marq">
    <div class="globalp text-marquee">
    <div class="d-flex-b">

    <div class="clsheadtitle">
    {% if section.settings.image_marquee != blank %} 
    <img src="{{ section.settings.image_marquee| img_url:'master' }}">  {% endif %} {{ section.settings.heading }}
    </div>
    <div class="clsheadtitle">
    {% if section.settings.image_marquee != blank %} 
    <img src="{{ section.settings.image_marquee| img_url:'master' }}">  {% endif %} {{ section.settings.heading }}
    </div>
    <div class="clsheadtitle">
    {% if section.settings.image_marquee != blank %} 
    <img src="{{ section.settings.image_marquee| img_url:'master' }}">  {% endif %} {{ section.settings.heading }}
    </div>
    <div class="clsheadtitle">
    {% if section.settings.image_marquee != blank %} 
    <img src="{{ section.settings.image_marquee| img_url:'master' }}">  {% endif %} {{ section.settings.heading }}
    </div>
    <div class="clsheadtitle">
    {% if section.settings.image_marquee != blank %} 
    <img src="{{ section.settings.image_marquee| img_url:'master' }}">  {% endif %} {{ section.settings.heading }}
    </div>
    </div>
    </div>
    </div>
    </div>
{% endif %}
{% schema %}
{
    "name": "Text marquee",
    "settings": [
        {
            "id" : "heading",
            "type" : "text",
            "label" : "Heading"
        },
        {
            "id" : "bg-color",
            "type" : "color",
            "label" : "Background Color"
        },
        {
            "id" : "clrmer",
            "type" : "color",
            "label" : "Marquee Color"
        }
    ],
    "presets" : [   
        {
            "name" : "Text marquee"
        }
    ]
}
{% endschema %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.5.0/jquery.marquee.min.js" defer="defer"></script>
<script>
    $(document).ready(function () {
        $(' #{{ section.id }} .main-marq .text-marquee').marquee({
            direction: 'left',
            duration: 30000,
            gap: 10,
            delayBeforeStart: 0,
            duplicated: true,
            startVisible: true
        });
    });
</script>
